body {
  background-color: #1b202e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}
#head {
  color: #fff;
  text-align: center;
}
.calculator {
  margin-top: 3rem;
}
.displayArea {
  width: 315px;
  overflow-x: auto;
  white-space: nowrap;
  align-items: center;
  border: 2px solid #53e2f7;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 10px;
  padding: 5px;
  height: 48px;
}
.displayInput {
  color: #53e2f7;
  margin: 0;
  text-align: right;
}
.areaBtn {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 5px;
  
}
.areaBtn button {
  border-radius: 5px;
  padding: 16px;
  font-size: 2rem;
  border: 2px solid #53e2f7;
  color: #53e2f7;
  background-color: #1b202e;
}
.areaBtn button:hover {
  box-shadow: 0 0 4px  #53e2f7;
}